.header {
	color: #CCCCCC; 
	text-align: right;
}

.tags {
	margin-left: 5px;
	color: #CCCCCC;
	font-size: 80%;
	font-style: italic;	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.footer {
	text-align: center; 
	color: #CCCCCC;
}
